<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shh.soccerbeacon"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BeaconsActivity"
            android:label="Beacons"
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name=".CalibrateListActivity"
            android:label="Calibrate List"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CalibrationActivity"
            android:label="Calibration"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FieldDimensionsActivity"
            android:label="FieldDimensions"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BeaconLocationsActivity"
            android:label="BeaconLocations"
            android:screenOrientation="portrait" >
        </activity>        
        <activity
            android:name=".StartBeaconsActivity"
            android:label="Test Beacons"
            android:screenOrientation="landscape" >
        </activity>
    </application>
</manifest>
